.ui-body-c { 
  background: #fff;
  /*background-image: -webkit-gradient(linear,left top,left bottom,from( #fff ),to( #ddd ));
  background-image: -webkit-linear-gradient( #fff,#ddd );
  background-image: -moz-linear-gradient( #fff,#ddd );
  background-image: -ms-linear-gradient( #fff,#ddd );
  background-image: -o-linear-gradient( #fff,#ddd );
  background-image: linear-gradient( #fff,#ddd );  
  color: #335; */
}

.ui-bar-a { 
  background-image: -webkit-linear-gradient( #666,#333 );
  background-image: -moz-linear-gradient( #666,#333 );
  background-image: -ms-linear-gradient( #666,#333 );
  background-image: -o-linear-gradient( #666,#333 );
  background-image: linear-gradient( #666,#333 );
}

.red-button {
  color: #FFF;
  text-shadow: none;
  font-weight: normal;
  background-image: -webkit-gradient(linear,left top,left bottom,from( #A55 ),to( #A00 ));
  background-image: -webkit-linear-gradient( #A55,#A00 );
  background-image: -moz-linear-gradient( #A55,#A00 );
  background-image: -ms-linear-gradient( #A55,#A00 );
  background-image: -o-linear-gradient( #A55,#A00 );
  background-image: linear-gradient( #A55,#A00 );
}
  .red-button:hover {
    color: #FFF;
    text-shadow: none;
    font-weight: normal;
    background-image: -webkit-gradient(linear,left top,left bottom,from( #C55 ),to( #C00 ));
    background-image: -webkit-linear-gradient( #C55,#C00 );
    background-image: -moz-linear-gradient( #C55,#C00 );
    background-image: -ms-linear-gradient( #C55,#C00 );
    background-image: -o-linear-gradient( #C55,#C00 );
    background-image: linear-gradient( #C55,#C00 );
  }

.green-button {
  color: #FFF;
  text-shadow: none;
  font-weight: normal;
  background-image: -webkit-gradient(linear,left top,left bottom,from( #5E5 ),to( #0A0 ));
  background-image: -webkit-linear-gradient( #5E5,#0A0 );
  background-image: -moz-linear-gradient( #5E5,#0A0 );
  background-image: -ms-linear-gradient( #5E5,#0A0 );
  background-image: -o-linear-gradient( #5E5,#0A0 );
  background-image: linear-gradient( #5E5,#0A0 );
}
  .green-button:hover {
    color: #FFF;
    text-shadow: none;
    font-weight: normal;
    background-image: -webkit-gradient(linear,left top,left bottom,from( #6F6 ),to( #0C0 ));
    background-image: -webkit-linear-gradient( #6F6,#0C0 );
    background-image: -moz-linear-gradient( #6F6,#0C0 );
    background-image: -ms-linear-gradient( #6F6,#0C0 );
    background-image: -o-linear-gradient( #6F6,#0C0 );
    background-image: linear-gradient( #6F6,#0C0 );
  }

.ui-header { border-bottom: 1px solid #000; box-shadow: 0 3px 5px #999; }
.ui-header .ui-title, .ui-footer .ui-title { font-size: large; font-weight: normal; background-color: #666; border: 1px solid #333; border-radius: 8px; box-shadow: inset 0 1px 1px #000; line-height: normal; padding: 5px; }
.ui-header .ui-btn { margin: 10px; }
.hide { display: none } 

#home .ui-header .home-button { display: none; }

#card_name_heading { text-align: center; }
.bc { position: relative; margin: 1em auto; }
.status { font-size: small; }
.content { text-align: center; }

.footer { padding : 5px 0; }
.copyright { font-size: x-small; font-weight: normal; margin: 0 0 0 5px; }
.ui-footer > .ui-btn.quit { float: right; font-size: small; margin-right:5px;}


/* =Gallery
========================================*/
.photoswipe { margin: 0; padding: 0; }
.photoswipe li { background-color: #000; float: left; height: 100px; list-style: none; margin: 5px; overflow: hidden; padding: 0; position: relative; text-align: center; width: 100px; }
.photoswipe li a { height: 100%; position: relative; width: 100%; }
.photoswipe li img { width: auto; height: auto; max-width: 100%; max-height: 100%; }



/* =Dialogs 
============================================== */

#alert { background-color: rgba(255,255,255,0.5); display: none; font-family: Helvetica, Arial, sans-serif; font-size: small; position: absolute; top: 0; left:0; width: 100%; height: 100%; z-index: 100000;  }
  #alert_container { background-color: #FFF; border: 1px solid #AAA; border-radius: 10px; box-shadow: 0 3px 5px #999; margin: 0 auto; padding: 20px 10px; position: relative; text-align: center; top: 30%; width: 60%; }
  #alert_buttons { margin-top: 20px; text-align: center; }
  
/* =Misc 
============================================== */

.ui-mobile-viewport-transitioning,
.ui-mobile-viewport-transitioning .ui-page {
  overflow: visible; 
}