<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.bitsandbristles.mobile-portfolio"
	version 	= "1.0">

	<name>BnB Mobile</name>

	<description>
        Mobile app for storing a bitsandbristles.com portfolio offline
	</description>

	<author href="http://bitsandbristles.com"
		email="info@bitsandbristles.com">
		Bits and Bristles
	</author>

  <icon src="images/icon_72.png" width="72" height="72" />
  <icon src="images/icon_48.png" width="48" height="48" />
  <icon src="images/icon_36.png" width="36" height="36" />

  <feature name="http://api.phonegap.com/1.0/device" />
  <feature name="http://api.phonegap.com/1.0/file" />
  <access origin="http://staging.bitsandbristles.com" />

  <gap:splash src="images/splash-s.jpg" gap:platform="android" gap:density="ldpi" />
  <gap:splash src="images/splash-m.jpg" gap:platform="android" gap:density="mdpi" />
  <gap:splash src="images/splash-l.jpg" gap:platform="android" gap:density="hdpi" />
  <gap:splash src="images/splash-xl.jpg" gap:platform="android" gap:density="xhdpi" />

	<preference name="target-device" value="handset" />
	<preference name="fullscreen" value="true" />
	<preference name="orientation" value="portrait" />
	
</widget>
